/* 设置html和body的margin为0 */
html, body {
    margin: 0;
  }
  
  /* 设置html的字体为sans-serif，高度为100% */
  html {
    font-family: sans-serif;
    height: 100%;
  }
  
  /* 设置body的overflow为hidden，高度继承自html */
  body {
    overflow: hidden;
    height: inherit;
  }