body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
button#library-button {
    position: absolute; /* 设置绝对定位 */
    bottom: 10px; /* 设置按钮距离底部的距离 */
    left: 10px; /* 设置按钮距离左侧的距离 */
    background-color: #35525a; /* 按钮背景颜色 */
    color: white; /* 按钮文字颜色 */
    padding: 10px 20px; /* 减少按钮的内边距 */
    font-size: 16px; /* 减小按钮文字大小 */
    border: none; /* 移除按钮边框 */
    border-radius: 5px; /* 添加圆角边框 */
    cursor: pointer;
    transition: background-color 0.3s ease; /* 添加背景颜色过渡效果 */
}

button#library-button:hover {
    background-color: #45a049; /* 鼠标悬停时按钮背景颜色变化 */
}
#temple {
    text-align: center;
    position: relative;
    height: 100%;
    background: url('temple.jpg') no-repeat center center fixed;
    background-size: cover;
}

.treasure-item {
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

#box {
    bottom: 20px;
    right: 20px;
}

#guard {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#treasure {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* temple.css */
.hidden {
    display: none;
}

#dialogue-box {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 20;
    text-align: center;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#output {
    margin-bottom: 10px;
}

.treasure-item {
    position: absolute;
    transition: transform 0.5s ease;
}

#box {
    cursor: pointer;
}

#next-button {
    padding: 5px 10px;
    cursor: pointer;
}
